@charset "utf-8";
body,p,ul,em,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,img,table{
   margin:0;
   padding: 0;
}
body{
	width: 100%;
	font-family: "微软雅黑"，Arial;
}
a{
	text-decoration:none;
}
ul,li{
	list-style:none;
}

/* bannar */
.bannar{
    height: 268px;
    background-image: url("../img/benner/bg-category.jpg");
}
.banMid{
    width:1110px;
    margin:0 auto;
    padding-top: 59px;
}
.banMid h1{
    font-size: 38px;
    color:white;
    height: 83px;
    line-height: 83px;
}
.banMid p{
    font-size: 22px;
    height: 66px;
    line-height: 66px;
    color:white;
    font-weight: 600;
}
.banMid a{
    color: white;
    font-size: 14px;
    margin-right: 32px;
}
.banMid a:hover{
    color: #fe5f38;
}
.banMid span{
    color: #fe5f38;
    font-size: 14px;
    display: inline-block;
    margin-left: 32px;
}

/* mainBox */
.mainBox{
    width: 1110px;
    margin:0 auto;
    padding:80px 0;
    overflow: hidden;
}

/* proLeft */
.proLeft{
    float: left;
    background-color: pink;
    width: 540px;
    height: 568px;
}
.rollBox{
    width:73px;
    height: 452px;
    background: blue;
    position: relative;
}
.rollList{
    width: 73px;
    height: 417px;
    background: green;
    overflow: hidden;
    padding-top: 2px;
}
.rollList img{
    width: 73px;
    float: left;
    margin-bottom: 16px;
}


.banslide{
	width: 100%;
    height: 20px;
    margin-top:13px;
}
.banpot{
	width: 20px;
	height: 20px;
	background: #333333;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	transition: all 1s;
}
.banpot:hover{
	background: #fe5f38;
}
.minslide{
	height: 30px;
}
.minslide .banpot{
	width: 20px;
	height: 20px;
	line-height: 20px; 
}
.minslide .pot1{
	float: left;
}
.minslide .banpot img{
	width: 5px;
}
.minslide .pot2{
	float: right;
}

.showBox{
    position: absolute;
    top:0;
    left: 89px;  
}
.showBox img{
    width: 450px;
}

/* proRight */
.proRight{
    float: right;
    background:yellow;
    width: 540px;
    height: 568px;
    margin-left: 30px;
}
.proInfo h2{
    color: #444444;
    font-size: 24px;
    line-height: 24px;
    margin:0 0 20px;
    text-transform: uppercase;
}
.priceBox{
    margin-bottom: 20px;
}
.newPrice{
    color: #fe5f38;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
}
.oldPrice{
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: line-through;
}
.proInfo p{
    font-size: 16px;
    margin-bottom: 20px;
}
.quantityBox label{
    margin-bottom: 10px;
    display: block;
}
.quantityBox input{
    width: 74px;
    height: 42px;
    border:1px solid #dddddd;
    text-indent: 18px;
    outline: none;
    float: left;
}
.addBox a{
    display: inline-block;
    padding:0 36px;
    background-color: #222222;
    border:none;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    color:white;
    transition: all 300ms;
    margin-left: 10px;
}
.addBox a:hover{
    background-color: #fe5f38;
}
.proShare{
    margin-top: 20px;
}
.proShare h4{
    font-size: 16px;
    margin:0 0 10px;
    color:#2c2c2c;
    line-height: 16px;
}
.proShare ul li{
    display: inline-block;
}
.proShare ul li a{
    background: #333333;
    color: #ffffff;
    display: block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    transition: all 300ms;
}
.proShare ul li a:hover{
    background: #fe5f38;
}